# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
*.log

# Virtual env
.venv/
env/
venv/

# Pipenv
Pipfile.lock

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.kiro

# Testing
.coverage
.pytest_cache/

# Deployment
*.bak
*.swp